.wysiwyg {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  width: 100%;
}

.wysiwyg::after {
  content: "";
  display: table;
  clear: both;
}

.ql-font-serif {
  font-family: 'Open Serif', sans-serif;
}

.ql-font-monospace {
  font-family: monospace;
}

.wysiwyg p {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1.2em;
}

.wysiwyg h1 {
  font-size: 5.8rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 0.4em;
  font-family: 'Montserrat', sans-serif;
}

.wysiwyg h2 {
  font-size: 4.2rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 0.4em;
  font-family: 'Montserrat', sans-serif;
}

.wysiwyg h3 {
  font-size: 3.8rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 0.4em;
  font-family: 'Montserrat', sans-serif;
}

.wysiwyg h4 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 0.4em;
  font-family: 'Montserrat', sans-serif;
}

.wysiwyg h5 {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 0.4em;
  font-family: 'Montserrat', sans-serif;
}

.wysiwyg h6 {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  font-family: 'Montserrat', sans-serif;
}

.wysiwyg hr {
  display: block;
  width: 100%;
  margin: 1.2em 0;
}

.wysiwyg blockquote {
  font-size: 1.8rem;
  border-left: 5px solid currentColor;
  padding: 0.4rem 1.8rem;
  margin: 1.8rem 0;
  opacity: .75;
}

.wysiwyg.wysiwyg--reader p {
  font-size: 1.8rem;
  line-height: 1.4;
}
.wysiwyg.wysiwyg--reader blockquote {
  font-size: 2.2rem;
  line-height: 1.4;
}

.wysiwyg:last-child {
  margin-bottom: 0;
}

.quill-button {
  margin-bottom: 1.2em;
}

.quill-image, .quill-video {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  outline: none;
  position: relative;
  margin-bottom: 1.2em;
}

.quill-image img {
  width: 100%;
}

.quill-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quill-video .quill-video__wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.quill-image figcaption, .quill-video figcaption {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  margin: 0.4rem 0 0;
  padding: 0.4rem 0 0;
  outline: none;
  color: var(--gray);
  font-size: 14px;
}

.quill-image figcaption:empty, .quill-video figcaption:empty { display: none; }

.quill-image a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.quill-image[data-format=full], .quill-video[data-format=full] {
  width: 100%;
  margin: 0 0 12px;
}

.quill-image[data-format=center], .quill-video[data-format=center] {
  width: 100%;
  margin: 0 auto 12px;
  max-width: 50%;
  min-width: 32rem;
}

.quill-image[data-format=left], .quill-video[data-format=left] {
  width: calc(60% - 12px);
  float: left;
  margin: 0 12px 12px -10%;
}

.quill-image[data-format=right], .quill-video[data-format=right] {
  width: calc(60% - 12px);
  float: right;
  margin: 0 -10% 12px 12px;
}

.ql-align-left {
  text-align: left;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.quill-button__format, .quill-button__href-input, .quill-button__text-input,
.quill-image__format, .quill-image__caption-edit, .quill-image input {
  display: none !important;
}
