#card-element {
  background: white;
  padding: 12px;
  width: 100%;
  border: 1px solid;
  margin-bottom: 1.2rem;
}
.donate__container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
.donate__ask {
  width: 100%;
  max-width: 580px;
  margin-right: 4.8rem;
}
#donate-form {
  width: 100%;
  max-width: 420px;
}
#donate-form input {
  margin-bottom: 1.2rem;
}
#donate-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}
.donate__input {
  margin-bottom: 1.2rem;
}
.donate__label {
  width: 100%;
  text-align: left;
  display: block;
  margin-bottom: 0.4rem;
}
.donate__legal {
  border-top: 1px solid var(--light-gray);
}
@media (max-width: 850px) {
  .donate__container {
    flex-flow: column;
 }
  .donate__ask {
    margin: 0 0 2.4rem;
 }
}
