.endorsements__header {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  --section-color: var(--primary);
}

.endorsements__title {
  background: var(--primary);
  padding: 0 0.8rem 0.8rem 0;
  line-height: 1;
  display: inline-block;
  align-self: flex-start;
  box-shadow: var(--primary-header-shadow);
  color: white;
  margin-bottom: 0 !important;
  color: var(--yellow);
}

.endorsements__subtitle {
  margin-bottom: 5.2rem;
  background: var(--secondary);
  padding: 0 0.8rem 0.8rem;
  line-height: 1;
  align-self: flex-start;
  display: inline-block;
  position: relative;
  box-shadow: var(--secondary-header-shadow);
  color: white;
  font-weight: 400 !important;
  text-transform: none;
}

.endorsements__body {
  overflow: hidden;
  display: grid;
  grid-template-columns: 78rem auto;
}
.endorsements__header-content {
  width: 55.6rem;
}

.endorsements__header-image {
  width: calc(50% - 3.2rem);
  margin-left: 3.2rem;
  height: auto;
  height: calc((var(--site-width) / 3) - 3.2rem);
  background-size: 0.6rem 0.6rem;
  object-fit: contain;
}

.endorsements__section-title {
  width: 100%;
  text-align: left;
  margin-bottom: 2.4rem;
  font-size: 3rem;
  font-size: 0;
  color: transparent;
  margin: 0;
}

.endorsements::before {
  content: attr(data-title);
  grid-column: 1 / -1;
  text-align: left;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 3.2rem;
}

.endorsements__no-photos .endorsements {
  grid-template-columns: 100%;
}

.endorsements {
  grid-column: 1;
}

@media (max-width: 1248px) {
  .endorsements__body {
    grid-template-columns: 57rem auto;

  }
  .endorsements__body .endorsements__photos .endorsements {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    grid-gap: 1.2rem;
    margin-bottom: 4.8rem;
  }
  
}

@media (max-width: 980px) {
  .endorsements__body {
    grid-template-columns: 38rem auto;

  }
  .endorsements__body .endorsements__photos .endorsements {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 18rem);
    grid-gap: 1.2rem;
    margin-bottom: 4.8rem;
  }
  
}

@media (max-width: 700px) {
  .endorsements__header {
    flex-flow: column;
    height: auto;
    min-height: 90px;
  }

  .endorsements__header-image {
    width: 100vw;
    margin: -2.4rem;
    height: 50vw;
  }

  .endorsements__header-content {
    width: 100%;
  }

  .endorsements__body {
    grid-template-columns: 100% !important;
  }

  .endorsements {
    grid-template-columns: 100% !important;
    grid-column: 1;
  }
  .endorsements__section-title {
    font-size: 2.4rem;
  }
}