.email-form {
  text-align: left;
  font-size: 1.8rem;
  display: flex;
  flex-flow: column;
}

.email-form .email-form__section:not(:last-of-type) {
  margin-bottom: 1.2rem;
}

.email-form .email-form__label {
  display: block;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.email-form .email-form__section {
  display: flex;
  flex-wrap: wrap;
}

.email-form input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;
}

.email-form input:first-of-type:not(:last-of-type) {
  margin-right: 1.2rem;
}

.email-form input[type=email] {
  width: calc(75% - 0.6rem);
  flex-grow: 1;
  width: auto;
}

.email-form input[type=submit] {
  width: auto;
  background-color: var(--gray);
}

.email-form input[type=text] {
  width: calc(50% - 0.6rem);
}
@media (max-width: 600px) {
  .email-form {
    width: 100%;
 }
  .email-form .email-form__section {
    flex-flow: column;
    margin: 0 !important;
 }
  .email-form input {
    margin: 0 0 1.2rem 0 !important;
    width: 100% !important;
 }
  .email-form input[type=submit] {
    margin: 0;
 }
}
