.social-icon {
  color: transparent;
  font-size: 0;
  overflow: hidden;
  width: 2.2rem;
  height: 2.2rem;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1.8rem;
}

.social-icon[href*="facebook.com"] {
  background-image: url("/static/images/facebook.svg");
}

.social-icon[href*="twitter.com"] {
  background-image: url("/static/images/twitter.svg");
}

.social-icon[href*="instagram.com"] {
  background-image: url("/static/images/instagram.svg");
}