
.button,
.quill-button {
  display: inline-block;
  padding: 0 3.3rem;
  font-size: 1.7rem;
  line-height: 4.2rem;
  font-weight: 800;
  text-decoration: none;
  color: white;
  background: var(--cta);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: opacity .15s;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

.button:visited,
.quill-button:visited {
  color: white;
}

.button.login,
.quill-button.login {
  margin-top: 2rem;
}

.button:hover,
.button:active,
.quill-button:hover,
.quill-button:active {
  color: white;
  opacity: .66;
  text-decoration: none;
}

.button[data-format=full], .quill-button[data-format=full] {
  display: block;
}

.button[data-format=left], .quill-button[data-format=left] {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  width: fit-content;
}

.button[data-format=right], .quill-button[data-format=right] {
  display: block;
  margin-right: 0px;
  margin-left: auto;
  width: fit-content;
}

.button[data-format=center], .quill-button[data-format=center] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
