.nav {
  max-width: var(--site-width);
  height: 12.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--primary);
  position: relative;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  width: 100vw;
  background-color: var(--primary);
  z-index: -1;
}

.nav__menu-button {
  display: none;
  position: absolute;
  right: -5.8rem;
  width: 50px;
  height: 48px;
  background: transparent;
  top: 1.2rem;
  color: transparent;
  border-radius: 0;
  padding: 13px 0;
  border: 8px solid transparent;
  border-width: 8px 6px;
  color: var(--primary);
  line-height: 0;
  font-weight: 900;
  text-shadow: 1px 0 0;
  background-clip: padding-box;
  text-indent: -2px;
}

.nav__menu-button::before, .nav__menu-button::after {
  content: "";
  width: 100%;
  height: 6px;
  background: var(--primary);
  position: absolute;
  left: 0;
  top: 0;
}

.nav__menu-button::after {
  content: "";
  bottom: 0;
  top: unset;
}

.nav__links {
  list-style: none;
  display: flex;
  margin-left: 2.4rem;
}

.nav__item {
  position: relative;
  cursor: pointer;
}

.nav__sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 18rem;
  z-index: 999;
  background: var(--matte);
  padding: 1.8rem;
  box-shadow: var(--elevation-4);
  list-style: none;
  text-align: left;
  border-radius: 0.4rem;
  display: none;
  grid-gap: 0.4rem;
  display: none !important;
}

.nav__item:hover .nav__sub-menu {
  display: grid;
}

.nav__link {
  margin-left: 2.4rem;
  line-height: 4.5rem;
  color: white !important;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-left: 3.2rem;
}

.nav__link.active {
  text-decoration: underline;
}

.nav__logo {
  margin-right: auto;
}

.nav__social .social {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav__donate a {
  background: var(--cta);
  color: black;
}

.nav__get-involved .button {
  background: var(--secondary);
  color: white;
  padding: 0 2.4rem;
  font-size: 1.7rem;
  margin-left: 2.4rem;
  white-space: pre;
}

.logo {
  text-decoration: none;
}

.logo__image {
  height: 100%;
  padding: 1.2rem;
}

.nav__social {
  color: white;
}

@media (max-width: 600px) {

}

@media (max-width: 600px) {
  #body {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    height: 100%;

    -webkit-overflow-scrolling: touch;

    -webkit-scroll-snap-stop: always;
    --ms-scroll-snap-stop: always;
    scroll-snap-stop: always;

    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;

    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;

    /* older spec implementation */
    -webkit-scroll-snap-destination: 0% 100%;
    -ms-scroll-snap-destination: 0% 100%;
    scroll-snap-destination: 0% 100%;

    -webkit-scroll-snap-points-x: repeat(100%);
    -ms-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
  }

  .nav__sub-menu {
    display: none !important;
  }

  .nav__social .social {
    justify-content: center;
  }

  .main {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }

  .nav {
    position: relative;
    width: calc(100% - 6.2rem);
    scroll-snap-align: start;
    height: 100%;
    flex: 0 0 auto;
    flex-flow: column;
    align-items: flex-start;
    padding: 1.2rem;
    z-index: 999;
  }

  .nav::before {
    width: 100%;
  }

  .nav__links {
    flex-flow: column;
    text-align: left;
    width: 100%;
    margin: 0 !important;
    gap: 1.4rem;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
  }

  .nav__donate, .nav__get-involved {
    width: 100%;
    margin-bottom: 0.8rem;
  }

  .nav__links .button {
    height: 4.8rem;
    line-height: 4.8rem;
  }

  .nav__donate .donate, .nav__get-involved .donate {
    width: 100%;
    margin: 0;
  }

  .nav__link {
    font-size: 1.8rem;
  }

  .nav__social {
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__menu-button {
    display: block;
  }

  .section.home__about {
    min-height: 0;
    padding: 5.2rem 1.8rem;
    margin: 0;
  }

  .section.home__about .button {
    margin: 0 auto;
  }

  .section.home__endorsements .endorsement {
    text-align: center;
  }

  .section.home__endorsements .button {
    margin: 0 auto;
    width: calc(100% - 3.2rem);
    margin: 0 1.8rem;
  }

  .section.home__issues .issues {
    width: 100%;
  }
  .section.home__issues .issue {
    text-align: center;
  }
  .section.home__issues .button {
    margin: 0 auto;
  }

  .section {
    padding: 2.4rem;
  }

  .home__header,
  .issues__header,
  .endorsements__header,
  .page__header {
    min-height: 75vh;
  }

   /* h1 {
     font-size: 3.6rem !important;
     display: block !important;
   }

   h2 {
     font-size: 1.8rem !important;
     display: block !important;
     margin-bottom: 1.6rem !important;
     max-width: 26.0rem !important;
   } */

  .home__about .home__header-image {
    display: none;
  }
}
