<!-- https://mailchimp.com/help/host-your-own-signup-forms/ -->
<form class="email-form" id="email-form" action="https://api.universe.app/v1/volunteer" method="POST" novalidate>
  <label class="email-form__label">{{mailchimp.label default="Get updates from the campaign"}}</label>
  <input type="hidden" id="tags[subscriber]" name="tags" value="subscriber" />
  <input type="hidden" name="_realm" value="{{universe.realm}}" />
  <input type="hidden" name="_merge" value="true" />
  <input type="hidden" name="_outreachId" value />
  <input type="hidden" name="_redirect" value="https://{{@site.domain}}{{@page.permalink}}" />
  <input type="text" name="_honeypot" value="" autocomplete="off" tabindex="-1" style="opacity:0;position:absolute;width:1px;height:1px;" />
  <input type="hidden" name="u" value="{{mailchimp.user_id}}" />
  <input type="hidden" name="id" value="{{mailchimp.audience_id}}" />

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_{{mailchimp.user_id}}_{{mailchimp.audience_id}}" tabindex="-1" value=""></div>
  {{#if (mailchimp.enable_name type="choice" help="Collect names in your mailchimp form.")}}
    <div class="email-form__section">
      <input type="text" placeholder="First Name" name="firstName" />
      <input type="text" placeholder="Last Name" name="lastName" />
    </div>
  {{/if}}
  {{#if (mailchimp.enable_phone type="choice" help="Collect telephone numbers in your mailchimp form.")}}
    <div class="email-form__section">
      <input type="tel" placeholder="(123) 456-7890" name="tel" />
    </div>
  {{/if}}
  <div class="email-form__section">
    <input type="email" placeholder="your@email.com" name="email" />
    <input type="submit" class="subscribe button" value="Subscribe" />
  </div>
</form>
