<!-- https://mailchimp.com/help/host-your-own-signup-forms/ -->
<form class="email-form" action="https://{{mailchimp.username}}.{{mailchimp.datacenter}}.list-manage.com/subscribe/post" method="POST" novalidate>
  <label class="email-form__label">{{mailchimp.label default="Get updates from the campaign"}}</label>
  <input type="hidden" name="u" value="{{mailchimp.user_id}}" />
  <input type="hidden" name="id" value="{{mailchimp.audience_id}}" />
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_{{mailchimp.user_id}}_{{mailchimp.audience_id}}" tabindex="-1" value=""></div>
  {{#if (mailchimp.enable_name type="choice" help="Collect names in your mailchimp form.")}}
    <div class="email-form__section">
      <input type="text" placeholder="First Name" name="FNAME" />
      <input type="text" placeholder="Last Name" name="LNAME" />
    </div>
  {{/if}}
  {{#if (mailchimp.enable_phone type="choice" help="Collect telephone numbers in your mailchimp form.")}}
    <div class="email-form__section">
      <input type="tel" placeholder="(123) 456-7890" name="PHONE" />
    </div>
  {{/if}}
  <div class="email-form__section">
    <input type="email" placeholder="your@email.com" name="EMAIL" />
    <input type="submit" class="subscribe button" value="Subscribe" />
  </div>
</form>
