.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 2.4rem 3.2rem;
  grid-column-gap: 3.2rem;
  grid-row-gap: 2.4rem 2.4rem 2.4rem 5.8rem 2.4rem;
  grid-template-columns: repeat(3, calc(33.33% - (6.4rem / 3)));
  grid-template-rows: 9rem 9rem 9rem;
  overflow: hidden;
  position: relative;
}
.post {
  text-align: left;
  position: relative;
  padding-left: 14rem;
  height: 12.8rem;
}
.post a:hover {
  text-decoration: none;
  cursor: pointer;
}
.post .post__image {
  width: 12.8rem;
  height: 12.8rem;
  object-fit: cover;
  position: absolute;
  left: 0;
}
.post a:hover .post__title {
  text-decoration: underline;
}
.post .post__timestamp {
  opacity: 0.75;
  font-size: 1.2rem;
  font-weight: 400;
}
.post__empty {
  margin: 3.2rem 0;
  padding: 0;
  opacity: 0.55;
}
.blog__header {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-bottom: 34vw;
}
.blog__header.blog__header--no-image {
  padding-bottom: 3.2rem;
}
.blog__collections-meta {
  text-transform: uppercase;
  color: var(--gray);
  font-size: 1.4rem;
  text-align: left;
  display: block;
}
.blog__header-image {
  position: absolute;
  width: 100vw;
  height: 34.25vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  margin: 0;
  object-fit: cover;
}
.blog__secondary-nav {
  width: 100%;
  text-align: left;
}
.blog__collections-title {
  margin-bottom: 3.2rem;
}
.blog__collections {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}
.blog__collection {
  padding: 0.4rem 1.2rem;
  border: 0px solid black;
  border-width: 1px 0;
  font-weight: bold;
}
.blog__collection:target {
  background: var(--light-gray);
}
.blog__header .blog__title {
  font-size: 4.2rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 0;
}
.blog__header .blog__subtitle {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 1.2rem;
  opacity: 0.75;
}
.blog__timestamp {
  display: block;
  margin-bottom: 3.2rem;
}
.blog__header, .blog__body {
  max-width: 82rem;
  display: block;
  margin: 0 auto;
}

.blog__body {
  display: inline-block;
}

.blog__section {
  max-width: var(--site-width);
  min-height: calc(100vh - 42rem);
}

.blog__more {
  padding-top: 4.2rem;
  border-top: 1px solid rgba(0, 0, 0, .15);
  margin-top: 4.2rem;
}

@media (min-width: 980px) {
  .blog__section .post .post__title {
    line-height: 1 !important;
    margin-bottom: 0.4rem !important;
    font-size: 1.8rem !important;
  }

  .blog__section {
    padding: 0 0.8rem;
  }

  .blog__section .post .post__subtitle {
    line-height: 1;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 0.8rem;
    height: 2.8rem;
    opacity: .66;
  }
  .post:first-of-type .post__image, .post:nth-of-type(2) .post__image {
    position: relative;
    width: 100%;
    height: 14.2rem;
    margin-bottom: 1.2rem;
 }
  .post:first-of-type {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 0;
 }
  .post:nth-of-type(2) {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 0;
 }
  .post:nth-of-type(2):last-of-type {
    grid-column: 2;
 }
  .post:nth-of-type(3), .post:nth-of-type(4), .post:nth-of-type(5) {
    height: 9rem;
    padding-left: 10.2rem;
 }
  .post:nth-of-type(3) .post__image, .post:nth-of-type(4) .post__image, .post:nth-of-type(5) .post__image {
    height: 9rem;
    width: 9rem;
 }
  .post:nth-of-type(3) .post__title, .post:nth-of-type(4) .post__title, .post:nth-of-type(5) .post__title {
    font-size: 1.8rem;
    line-height: 1.2;
 }
  .post:nth-of-type(3) .post__subtitle, .post:nth-of-type(4) .post__subtitle, .post:nth-of-type(5) .post__subtitle {
    display: none;
 }
  .post:nth-of-type(6)::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    max-width: var(--site-width);
    height: 1px;
    background: black;
    top: -6.6rem;
    opacity: 0.15;
 }
  .posts::before {
    content: "";
    height: 1px;
    background: transparent;
    grid-row: 4;
    grid-column-end: 4;
    grid-column-start: 1;
    margin: 4.2rem 0;
 }
}
@media (max-width: 980px) {
  .posts {
    grid-gap: 2.4rem;
    grid-template-columns: 100%;
    grid-template-rows: auto;
 }
  .post {
    grid-column: 1 !important;
    grid-row: auto !important;
 }
}
@media (max-width: 600px) {
  .blog__header {
    flex-flow: column;
    height: auto;
    min-height: 0;
    padding-top: 8.2rem;
 }
  .blog__timestamp {
    margin-bottom: 1.2rem;
 }
}
