.endorsements__header {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
}
.endorsements__header h1 {
  font-size: 3.8rem;
  line-height: 1.2;
  font-weight: 800;
}


.endorsements__header-content {
  width: 55.6rem;
}

.endorsements__header-image {
  width: calc(50% - 3.2rem);
  margin-left: 3.2rem;
  height: auto;
  height: calc((var(--site-width) / 3) - 3.2rem);
  background-size: 0.6rem 0.6rem;
  object-fit: contain;
}

.endorsements__section-title {
  width: 100%;
  text-align: left;
  margin-bottom: 3.2rem;
}

@media (max-width: 600px) {
  .endorsements__header {
    flex-flow: column;
    height: auto;
    min-height: 0;
  }

  .endorsements__header-image {
    width: 100vw;
    margin: -2.4rem -2.4rem 2.4rem;
    height: 50vw;
  }

  .endorsements__header-content {
    width: 100%;
  }
}
