.home__header {
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.home__header-content {
  text-align: left;
  display: flex;
  flex-flow: column;
  margin-left: 6.2rem;
  width: calc(60% + 6.2rem);
}

.home__header-image {
  width: 50%;
  height: auto;
  min-height: min(50vw, calc(var(--site-width) / 2));
  background-size: 0.6rem 0.6rem;
}

.header__title {
  font-size: 5.8rem;
  line-height: 1.2;
  font-weight: 800;
}

.header__subtitle {
  font-size: 4.2rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 5.2rem;
}

.home__ctas {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  justify-content: center;
}

.home__ctas .donate, .home__ctas .home__ctas-or, .home__ctas .email-form {
  width: 100%;
}

.home__ctas .home__ctas-or {
  height: 4.4rem;
  display: flex;
  line-height: 4.2rem;
  padding: 0 1.2rem;
  text-align: center;
  justify-content: center;
}

.home__about {
  display: flex;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.home__about-text {
  width: 50%;
}

.home__about-image {
  margin-left: 3.2rem;
  width: calc(50% - 3.2rem);
  height: calc((var(--site-width) / 2) - 3.2rem);
  object-fit: contain;
}

.home__about-cta {
  margin: 2.4rem auto 0;
}

.home__endorsements {
  margin-bottom: 5rem;
}

.home__endorsements .endorsements {
  margin: 3.2rem 0;
}

.home__endorsements .endorsement {
  display: none;
}

.home__endorsements .endorsement:nth-of-type(1), .home__endorsements .endorsement:nth-of-type(2), .home__endorsements .endorsement:nth-of-type(3) {
  display: block;
}

.home__endorsements-title, .home__issues-title {
  font-size: 3.8rem;
  line-height: 1.2;
  font-weight: 800;
}

.home__endorsements-description, .home__issues-title {
  text-align: center !important;
}

.home__endorsements-description p, .home__issues-title p {
  font-size: 2.4rem;
  line-height: 3.5rem;
}

.home__issues {
  margin-bottom: 5rem;
}

.home__issues .issues {
  margin: 3.2rem 0;
}

.home__issues .issue {
  display: none;
}

.home__issues .issue:nth-of-type(1), .home__issues .issue:nth-of-type(2), .home__issues .issue:nth-of-type(3), .home__issues .issue:nth-of-type(4), .home__issues .issue:nth-of-type(5) {
  display: block;
}
@media (max-width: 600px) {
  .home__header, .home__about {
    flex-flow: column;
 }
  .home__header-content, .home__about-text {
    width: 100%;
    margin: 0;
 }
  .home__about-text {
    margin-bottom: 2.4rem;
 }
  .home__header-image, .home__about-image {
    margin: 0 0 1.2rem 0;
    width: 100%;
    height: auto;
 }
  .home__header-image {
    width: 100vw;
    margin: -2.4rem -2.4rem 1.2rem;
 }
  .home__ctas {
    flex-flow: column;
    justify-content: center;
 }
  .home__ctas .donate, .home__ctas .home__ctas-or {
    width: 100%;
 }
}
