.issues__header {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  --section-color: var(--primary);
  color: white;
  justify-content: center;
  padding: 4.2rem;
}

.issues__header h1 {
  text-align: center;
  color: white;
}

.issues__header h1::after {
  left: 50%;
  transform: translateX(-50%);
}

.issues__header h2 {
  font-size: 3.2rem;
  font-weight: 400;
  margin-top: 1.8rem;
  margin-bottom: 0;
  color: white;
}

.issues__header h2::after {
  display: none;
}

.issues__title {
  padding: 0 0.8rem 0 0;
  margin: 0;
  line-height: 1;
  color: white;
  margin-bottom: 0 !important;
}

.issues__subtitle {
  margin-bottom: 5.2rem;
  padding: 0 0.8rem 0.8rem;
  line-height: 1;
  color: white;
  font-weight: 400 !important;
  text-transform: none;
  font-size: 2.8rem !important;
}

.issues__header-content {
  width: 100%;
  text-align: center;
}

.issues__header-image {
  width: calc(50% - 3.2rem);
  margin-left: 3.2rem;
  height: auto;
  height: calc((var(--site-width) / 3) - 3.2rem);
  background-size: 0.6rem 0.6rem;
  object-fit: contain;
  z-index: 1;
}

@media (max-width: 600px) {
  .issues__body .issues {
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
 }
  .issues__header {
    flex-flow: column;
    height: auto;
    min-height: 0;
 }
  .issues__header-image {
    width: 100vw;
    margin: -2.4rem -2.4rem 2.4rem;
    height: 50vw;
    display: none;
 }
  .issues__header-content {
    width: 100%;
 }
 .issues__body {
  padding: 1.8rem;
 }
}
