
.page__header {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  --section-color: #265EC5;
  color: white;
  justify-content: center;
  padding: 4.2rem;
}

.page__title {
  padding: 0 0.8rem 0 0;
  margin: 0;
  line-height: 1;
  color: white;
  margin-bottom: 0 !important;
}

.page__subtitle {
  margin-bottom: 5.2rem;
  padding: 0 0.8rem 0.8rem;
  line-height: 1;
  color: white;
  font-weight: 400 !important;
  text-transform: none;
  font-size: 2.8rem !important;
}

.page__header-content {
  width: 100%;
  max-width: 66%;
  text-align: center;
}

.page__header-image {
  width: calc(50% - 3.2rem);
  margin-left: 3.2rem;
  height: auto;
  height: calc((var(--site-width) / 3) - 3.2rem);
  background-size: 0.6rem 0.6rem;
  object-fit: contain;
  z-index: 1;
}

.page__header--hero {
  min-height: 59.5rem;
  justify-content: flex-start;
}
.page__header--hero .page__header-image {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  margin: 0;
  object-fit: cover;
}
.page__header--hero .page__header-content {
  padding: 3.2rem;
  background: white;
  margin: 6.4rem 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 12rem;
  z-index: 1;
  color: black;;
}

.page__header--hero .page__header-content:empty {
  display: none;
}

.page__header--hero .page__header-content h1 {
  font-size: 4.2rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 0;
}

.page__header--hero .page__header-content h2 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 800;
}

.page__body {
  max-width: 82rem;
  display: block;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .page__header {
    flex-flow: column;
    height: auto;
    min-height: 0;
 }
  .page__header-image {
    width: 100vw;
    margin: -2.4rem -2.4rem 2.4rem;
    height: 50vw;
    display: none;
 }
  .page__header-content {
    width: 100%;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid var(--light-gray);
 }
  .page__header--hero .page__header-content {
    margin: 12.8rem auto 0;
    padding: 3.2rem;
    border: none;
 }
  .page__header--hero .page__header-image {
    top: 0;
 }
}
