.endorsements {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  grid-gap: 1.2rem;
  margin-bottom: 4.8rem;
}

.endorsements:empty {
  display: none !important;
}

.endorsement {
  text-align: left;
}

.endorsement__name {
  font-size: 2rem;
  text-transform: none;
}

.endorsement__title {
  font-size: 1.4rem;
  font-family: var(--body-font);
  text-transform: none;
  color: inherit;
}

.endorsement.endorsement--no-image {
  text-align: left;
}

.endorsement__image {
  width: 16rem;
  height: 16rem;
  border-radius: 4px;
  margin-bottom: 0.4rem;
  object-fit: cover;
}

.endorsement__quote {
  max-width: 28rem;
  margin: 1.2rem auto 0;
}

.endorsement__quote::before {
  content: '“';
  font-size: 3.2rem;
  font-weight: bold;
  opacity: 0.5;
  line-height: 0;
  position: relative;
  top: 0.8rem;
  margin-right: 0.4rem;
}

#for-id-only-desc {
  display: block;
  text-align: right;
  margin: 2.4rem 0 0;
  position: absolute;
  right: 0;
  font-size: 1.4rem;
}

.home__endorsements-cta {
  float: left;
  background: var(--primary);
  margin-left: 3.2rem;
}

.endorsement.endorsement--id-only .endorsement__title::after, #for-id-only-desc::before {
  content: " * ";
  color: var(--red);
  font-weight: bold;
}

.endorsement.endorsement--id-only .endorsement__title::after {
  margin-right: -16px;
  white-space: pre;
}

@media (max-width: 700px) {
  .endorsements {
    margin: 3.2rem 0;
    display: flex;
    flex-flow: column;
  }
  .endorsement {
    margin-bottom: 2.4rem;
    text-align: center !important;
  }
  .endorsements__section-title {
    text-align: center !important;
    width: 100%;
    display: block;
  }
  #for-id-only-desc {
    text-align: center;
  }
}
