.footer {
  margin-top: 5.5rem;
}

.footer__universe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 3.2rem 0;
  border-top: 1px solid var(--light-gray);
}

.footer__universe-links {
  list-style: none;
  display: flex;
}

.footer__universe-link {
  margin-left: 2.4rem;
  line-height: 4.5rem;
}

.footer__universe-link.active {
  text-decoration: underline;
}

.footer__nav {
  margin-bottom: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 1.6rem));
  grid-gap: 2.4rem;
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  list-style: none;
  padding: 3.2rem 0;
}

.footer__nav .nav__social, .nav__social li {
  list-style: none;
}

.footer__mailchimp {
  grid-column: 1 ;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer__donate {
  grid-row: 1;
  grid-column: 3;
}

.footer__donate a { display: block; }

.footer__social {
  grid-column: 3;
  grid-row: 2;
  text-align: left;
}

.footer__disclosures {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: left;
}

.footer__social ul {
  display: flex;
  flex-wrap: wrap;
}

.footer__social li {
  margin-bottom: 1.2rem;
}

.footer__social li:first-of-type, .footer__social li.nav__social--email {
  font-weight: bold;
  width: 100%;
}

.footer__socialli.nav__social--email {
  font-size: 1.8rem;
}

.footer .email-form input[type=email],
.footer .email-form input[type=submit] {
  width: 100%;
  margin: 0 0 1.2rem;
}


@media (max-width: 600px) {
  .footer__nav {
    grid-template-columns: 100%;
    text-align: center;
    padding: 1.2rem;
  }
  .footer__social {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
  }
  .footer__social ul {
    justify-content: center;
  }
  .footer__mailchimp {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }
  .footer__mailchimp .email-form__label {
    text-align: center;
  }
  .footer__social .nav__social {
    margin-bottom: 0;
  }
  .footer__donate {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
  .footer__disclosures {
    grid-column: 1;
    grid-row: 4;
    text-align: center;
  }
  .footer__universe {
    padding: 1.2rem 0 3.2rem;
  }
  .footer__universe, .footer__universe-links {
    flex-flow: column;
  }
  .footer__universe-link {
    margin: 0;
  }
}